* {
    margin: 0;
    padding: 0;
}


.header-background {
    
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    border-radius: 16px;
    
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/resources/Banner\ Image.png');

}


.container {

    width: 80%;
    max-width: 1320px;
    margin: 50px auto;
    border-radius: 16px;
}

.new-year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 400;
    padding-top: 200px;

}

.large-text {
    color: #FFF;
    
    font-family: Merriweather;
    font-size: 58px;
    
    padding: 0 280px;
    padding-top: 30px;
    text-align: center;
    /* 131.944% */
}